.antd-select-custom .ant-select-selector {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: #ededed;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}

.antd-select-custom.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: #fff;
  /* border: 1px solid #d9d9d9; */
  border-radius: 4px;
}

.antd-select-custom.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #1b55a6;
  box-shadow: none !important;
}

.antd-select-custom.ant-select:not(.ant-select-disabled):hover
  .ant-select-selector {
  border-color: #cbcbcb !important;
}

.antd-select-custom.ant-select-multiple .ant-select-selection-item {
  margin-top: 2px;
  margin-bottom: 2px;
  background: #1b55a6;
  color: #ffffff;
  border: 1px solid #1b55a6;
  border-radius: 3px;
  cursor: default;
  font-size: 0.85rem;
  padding: 0rem 0.6rem;
}

.antd-select-custom.ant-select-multiple .ant-select-selection-item-remove svg {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 5px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: #1b55a6;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #e3e2f9 !important;
  color: #1b55a6 !important;
  font-weight: 400;
}

.style-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
}
