.game-config-card{
  background-color: white;
  box-shadow: 0 4px 24px 0 rgba(black, 0.1);
}

.label-chart{
  font-size: 0.75rem !important;
}
.label-mini-chart{
  font-size: 0.68rem !important;
}
.label-mini-max-chart{
  font-size: 0.5rem !important;
}
.total-paticipant-card{
  background-color: white;
  border-radius: 20px;
  height: 100px;
  padding-top: 1.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.total-pati-text{
  font-size: 26px;
}
.paticipant-label{
  font-size: 30px;
}

.total-preregister-card{
  background-color: #F8D5C2;
  border-radius: 20px;
  height: 100px;
  padding-top: 1.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.preregister-label{
  color: #C97262 !important;
}

.color-square-paticipant{
  width: 1.56rem;
  border-radius: 5px;
}
.color-square-mini{
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
}